{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Фандом-сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <h1>FANKATEJ</h1>
        <nav style="display: flex; align-items: center;">
            <a href="/">Главная</a>
            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">Профиль</a>
            <a href="{% url 'logout' %}">Выйти</a>
                <a href="{% url 'create_post' %}">➕Добавить фанфики</a>
                <a href="{% url 'profile' %}" style="display: flex; align-items: center; margin-left: auto; text-decoration: none;">
                    <img src="{{ user.avatar.url }}" alt="Аватар" width="50" height="50"
                         style="border-radius: 50%; margin-left: 10px; object-fit: cover;">
                    <span style="color:yellow; margin-left: 10px;">{{ user.username }}</span>
                </a>                
                {% else %}
                <a href="{% url 'login' %}">Вход</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </nav>        
    </header>

    <div class="container">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

    <footer>
        &copy
